<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% set computed_title = config.title %}
        {% if section or page %}
            {% if section.ancestors %}
                {% set ancestors = section.ancestors %}
            {% elif page.ancestors %}
                {% set ancestors = page.ancestors %}
            {% endif %}
            {% if ancestors %}
                {% set count = 0 %}
                {% for ancestor_path in ancestors %}
                    {% if count != 0 %}
                        {% set ancestor_section = get_section(path=ancestor_path) %}
                        {% set_global computed_title = computed_title ~ "/" ~ ancestor_section.title %}
                    {% endif %}
                    {% set_global count = count + 1 %}
                {% endfor %}
            {% endif %}
            {% if section.title %}
                {% set computed_title = computed_title ~ "/" ~ section.title %}
            {% elif page.title %}
                {% set computed_title = computed_title ~ "/" ~ page.title %}
            {% endif %}
        {% elif taxonomy %}
            {% set capitalized_taxonomy = taxonomy.name | capitalize %}
            {% set computed_title = computed_title ~ "/" ~ capitalized_taxonomy %}
            {% if term %}
                {% set computed_title = computed_title ~ "/" ~ term.name %}
            {% endif %}
        {% endif %}
        <title>{{ computed_title }}</title>
        {% if section.description %}
            <meta name="description" content="{{ section.description }}">
        {% elif page.description %}
            <meta name="description" content="{{ page.description }}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <meta property="og:title" content="{{ computed_title }}">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#f0f0f0">
        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
        {% block extra_head %} {% endblock extra_head %}
    </head>
    <body>
        <div class="page">
            <header>
                {% set root_section = get_section(path="_index.md") %}
                <h1>
                    <a href="{{ get_url(path=root_section.path) }}">{{ config.title }}</a>
                </h1>
                <nav>
                    <ul>
                        <li><a{% if current_path and current_path == root_section.path %} class="selected"{% endif %} href="{{ get_url(path=root_section.path) }}">Home</a></li>
                        {% for navigation_item in config.extra.navigation_order %}
                            {% set slugified_path = navigation_item.path | slugify %}
                            {% set page_url = get_url(path=slugified_path) %}
                            <li><a{% if current_url and current_url is starting_with(page_url) %} class="selected"{% endif %} href="{{ page_url }}">{{ navigation_item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main>
                {% block content %} {% endblock content %}
            </main>
            <footer>
                <div><a href="{{ get_url(path="/") }}">Cohen Lab</a> / <a rel="noopener" rel="noreferrer" href="http://genetics.wustl.edu/">Department of Genetics</a> / <a rel="noopener" rel="noreferrer" href="https://genomesciences.wustl.edu/">Center for Genome Sciences and Systems Biology</a> / <a rel="noopener" rel="noreferrer" href="https://medicine.wustl.edu/">Washington University School of Medicine in St. Louis</a></div>
            </footer>
        </div>
        <dialog id="lightbox">
            <img id="lightbox-image" src="" alt>
        </dialog>
        <script type="text/javascript">
        lightbox = document.getElementById("lightbox");
        lightboxImage = document.getElementById("lightbox-image");

        function showImageLightbox(anEvent) {
            anEvent.preventDefault();
            lightboxImage.setAttribute("src", this.getAttribute("href"));
            lightboxImage.setAttribute("alt", this.querySelector("img").getAttribute("alt"));
            lightbox.showModal();
        }

        lightbox.onclick = function(anEvent) {
            anEvent.preventDefault();
            lightboxImage.setAttribute("src", "");
            lightboxImage.setAttribute("alt", "");
            lightbox.close();
        };

        const lightboxImageLinks = document.querySelectorAll(".gallery a");

        for (var i = 0; i < lightboxImageLinks.length; i++) {
            lightboxImageLinks[i].onclick = showImageLightbox;
        }
        </script>
        {% block extra_foot %} {% endblock extra_foot %}
    </body>
</html>
